#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.tabela {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 15px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.tabela thead {
  background-color: #1976d2;
  color: white;
}

.tabela th {
  padding: 12px;
  text-align: center;
}

.tabela td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tabela tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela tbody tr:hover {
  background-color: #e0f7fa; /* Cor ao passar o mouse */
  cursor: pointer;
}

.centraliza_texto {
  width: 300px;
  margin: 0 auto;  
}

.container { 
    max-width: 1200px; /* Limita o tamanho máximo no desktop */
    width: 90%; /* Ocupa 90% da largura da tela */
    margin: 0 auto;
}

img {
    max-width: 100%; /* Garante que a imagem nunca será maior que seu container */
    height: auto;   /* Mantém a proporção original */
    display: block;
}